* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: #000000;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: #fff;
    clip-path: polygon(0 5%,0 100%,100% 100%);
}

.sub-header {
    position: relative;
    max-width: 100%;
    text-align: center;
    border: 0;
}

.sub-header h2 {
    font-size: 3em;
}

.sub-header p {
    font-size: 1.1em;
}

.sub-header button {
    padding: 10px;
    z-index: 1;
}

/* FORM PRINCIPAL */

.main {
    max-width: 600vw;
    margin: 3em;
    display: flex;
    justify-content: center;
}

.main h2 {
    margin: 1em;
}

.main aside {
    align-items: center;
    padding: 5px;
}

section {
    text-align: center;
    margin: 1em;
}

.email-cap {
    margin: auto;
    display: flex;
    justify-content: center;
}

/* FOOTER */

footer {
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: #000000;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: #fff;
    clip-path: polygon(5% 0,0 100%,0 0);
}

.footer-bg {
    position: relative;
    max-width: 100%;
    text-align: center;
    border: 0;
}