* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}


body {
    background-color: #000;
    color: #fff;
}
/* HEADER */

header {
    position: relative;
    width: 100vw;
    height: 90vh;
    background-color: #0c8c4c;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 250px;
    background: #000;
    clip-path: polygon(0 5%,0 100%,100% 100%);
}

.sub-header {
    position: relative;
    max-width: 100vw;
    text-align: center;
    border: 0;
}

.sub-header h2 {
    font-size: 3em;
}

.sub-header p {
    font-size: 1.1em;
    margin: 1em;
}

.sub-header button {
    padding: 10px;
    z-index: 1;
    margin: 2.5em;
    width: 160px;
    height: 40px;
    cursor: pointer;
}


/* FORM PRINCIPAL */

.main {
    max-width: 100vw;
    margin: 1.5em 3em;
    display: flex;
    justify-content: center;
}

.main h2 {
    margin: 1em 0;
    display: flex;
    justify-content: flex-start;
}

.main article {
    height: 45%;
    width: 45%;
    margin: 1em;
}

.main article p {
    margin-top: 10px;
}

.main aside {
    margin: 3em;
    height: 45%;
    width: 45%;
}

.main aside input {
    display: flex;
    justify-content: center;
}

.main .main-input {
    width: 80%;
    height: 30px;
    margin: 10px 0;
}

.radioStyle {
    display: flex;
    flex-direction: row;
}

.radioStyle label {
    margin-left: 5px;
    text-transform: uppercase;
}

.radioStyle .firstRadio {
    margin-right: 8px;
}

.main button {
    margin: 25px 0 0;
    width: 80%;
    height: 40px;
}

/* 
VALIDATION MESSAGE 
*/

.hidden {
    display: none;
}

.helper-text {
    color: #ce1212;
}

.sucess-text {
    color: #0c8c4c;
}

.returnError {
    border: 3px solid #ce1212
}


/* 
PRODUCTS SECTION 
*/

#isLoading {
    margin: auto;
}


#product-section {
    max-width: 90vw;
    min-height: 1060px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.productBox {
    padding: 25px;
    width: 250px;
    height: 300px;
    margin: 85px auto;
}

.productBox img {
    width: 100%;
    border: 2px solid rgb(116, 114, 114);
}

.productBox h3 {
    margin: 10px auto;
}

.productBox h4 {
    margin: 10px auto;
    text-align: left;
}

.productBox span {
    text-align: left;
    margin: 10px auto;
}

.productBox h2 {
    font-weight: 800;
}

.productBox button {
    width: 100%;
    height: 30px;
    margin: auto;
}

.loadingComplete {
    display: none;
}

.moreProducts {
    padding: 20px;
    text-align: center;
    margin: 6em auto;
}

.moreProducts button {
    height: 35px;
    width: 30%;
}

/* 
SEND EMAIL SECTION
*/ 

section .toFriend-email {
    max-width: 100vw;
    display: flex;
}

section span {
    display: block;
    margin: 2em;
    text-align: center;
}

.toFriend-email label {
    display: block;
    margin-left: -33%;
}

.toFriend-email input {
    width: 60%;
    height: 25px;
}

.toFriend-email .toFriend-input {
    text-align: center;
    margin: auto;
    display: inline-block;
    height: 100px;
    width: 100vw;
}

section button {
    display: block;
    width: 25%;
    height: 30px;
    margin: 10px;
    margin: auto    ;
}

h4 {
    overflow: hidden;
    text-align: center;
}

/* h4::before,
h4::after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100vw;
}

h4::before {
    right: 0.5em;
    margin-left: -50%;
}

h4::after {
    left: 0.5em;
    margin-right: -50%;
} */

/* FOOTER */

footer {
    margin-top: 100px;
    position: relative;
    width: 100vw;
    height: 50vh;
    background-color: #0c8c4c;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer::before {
    content: '';
    position: absolute;
    bottom: 23%;
    left: 0;
    width: 100vw;
    height: 250px;
    background: #000;
    clip-path: polygon(50% 0,0 100%,0 0);
}

.footer-bg {
    position: relative;
    max-width: 100vw;
    text-align: center;
    border: 0;
}

@media only screen and (max-width: 950px) {

    /* HEADER */
    .sub-header .headerText {
        text-align: left;
    }

    .sub-header .headerText span {
        margin-left: 1em;
    }

    .sub-header .headerText h2 {
        margin-left: 0.3em;
        font-size: 40px;
    }

    .headerText p {
        font-size: 14px;
    }

    .headerButtons {
        width: 100vw;
        height: 250px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .headerButtons button {
        width: 33%;
        height: 50px;
        border-radius: 8%;
    }

    /* CONTEÚDO */

    .main {
        display: block;
        max-width: 100vw;
        margin: 0;
    }

    .main h2 {
        width: 100vw;
        font-size: 1.4em;
    }

    .main article,
    .main aside {
        width: 95vw;
    }


    #mainForm {
        margin: -7%;
        max-width: 100vw;
    }

    .main .main-input {
        width: 93%;
        margin: 5px 0;
    }

    .main button {
        width: 93%;
    }

    /* PRODUCTS */

    #product-section {
        width: 100vw;
    }

    .productBox {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: 40vh;
        margin: auto;
    }

    .productImg {
        width: 50%;
        height: 100%;
    }

    .productImg img {
        height: 80%;
        width: 100%;
    }

    .productInfo {
        width: 60%;
        height: 100%;
        margin: auto 10px;
    }

    .productInfo p {
        display: none;
        margin: 17px auto;
    }

    .productInfo h3 {
        margin: auto;
    }

    .productInfo h4 {
        text-align: left;
        margin: 17px auto;
    }

    .productInfo span {
        text-align: left;
        margin: 17px auto;
    }


    .moreProducts button {
        margin: 15px auto;
        width: 100%;
        height: 60px;
        padding: 20px;
    }

    /* TO FRIEND FORM */

    section .toFriend-email {
        max-width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }
    
    .toFriend-email input {
        width: 90%;
        margin-top: 1%;
    }

    .toFriend-email label {
        margin: auto 5%;
        text-align: left;
    }

    .toFriend-email button {
        height: 39px;
        width: 70%;
    }
}